In [47]:
from vanna.remote import VannaDefault
import os
import sqlite3
import pandas as pd

db_path = "ventas.db" 
conn = sqlite3.connect(db_path)

In [40]:
api_key = os.getenv("API_KEY")
vanna_model_name =  os.getenv("VANNA_MODEL_NAME")
vn = VannaDefault(model=vanna_model_name, api_key=api_key)

ENTRENAR

In [41]:
vn.train(
    ddl="""
CREATE TABLE IF NOT EXISTS DimFecha (
    date_key TEXT PRIMARY KEY,
    year INTEGER,
    quarter INTEGER,
    month INTEGER,
    day INTEGER,
    weekday TEXT
);
"""
)

Adding ddl:
CREATE TABLE IF NOT EXISTS DimFecha (
    date_key TEXT PRIMARY KEY,
    year INTEGER,
    quarter INTEGER,
    month INTEGER,
    day INTEGER,
    weekday TEXT
);

'16999199-ddl'

In [42]:
vn.train(
    ddl="""
CREATE TABLE IF NOT EXISTS DimCliente (
    customer_id TEXT PRIMARY KEY,
    customer_name TEXT,
    customer_city TEXT
);
"""
)

Adding ddl:
CREATE TABLE IF NOT EXISTS DimCliente (
    customer_id TEXT PRIMARY KEY,
    customer_name TEXT,
    customer_city TEXT
);

'16999208-ddl'

In [43]:
vn.train(
    ddl="""
CREATE TABLE IF NOT EXISTS DimProducto (
    product_id TEXT PRIMARY KEY,
    product_name TEXT,
    category TEXT,
    unit_price REAL
);
"""
)

Adding ddl:
CREATE TABLE IF NOT EXISTS DimProducto (
    product_id TEXT PRIMARY KEY,
    product_name TEXT,
    category TEXT,
    unit_price REAL
);

'16999215-ddl'

In [44]:
vn.train(
    ddl="""
CREATE TABLE IF NOT EXISTS DimRepresentante (
    rep_id TEXT PRIMARY KEY,
    rep_name TEXT,
    region TEXT
);
"""
)

Adding ddl:
CREATE TABLE IF NOT EXISTS DimRepresentante (
    rep_id TEXT PRIMARY KEY,
    rep_name TEXT,
    region TEXT
);

'16999222-ddl'

In [45]:
vn.train(
    ddl="""
CREATE TABLE IF NOT EXISTS FactVentas (
    sale_id INTEGER PRIMARY KEY,
    date_key TEXT,
    customer_id TEXT,
    product_id TEXT,
    rep_id TEXT,
    quantity INTEGER,
    FOREIGN KEY (date_key) REFERENCES DimFecha(date_key),
    FOREIGN KEY (customer_id) REFERENCES DimCliente(customer_id),
    FOREIGN KEY (product_id) REFERENCES DimProducto(product_id),
    FOREIGN KEY (rep_id) REFERENCES DimRepresentante(rep_id)
);
"""
)

Adding ddl:
CREATE TABLE IF NOT EXISTS FactVentas (
    sale_id INTEGER PRIMARY KEY,
    date_key TEXT,
    customer_id TEXT,
    product_id TEXT,
    rep_id TEXT,
    quantity INTEGER,
    FOREIGN KEY (date_key) REFERENCES DimFecha(date_key),
    FOREIGN KEY (customer_id) REFERENCES DimCliente(customer_id),
    FOREIGN KEY (product_id) REFERENCES DimProducto(product_id),
    FOREIGN KEY (rep_id) REFERENCES DimRepresentante(rep_id)
);

'16999232-ddl'

In [52]:
vn.train(
    documentation="que todas las palabras con tilde sean reemplazadas por su version sin tilde",
)

Adding documentation....

'3443503-doc'

In [51]:
query2 = vn.generate_sql(
    "Listar las compras y las caracteristicas de los clientes que pertenece a la ciudad de Medellín."
)
pd.read_sql_query(query2, conn)

SQL Prompt: [{'role': 'system', 'content': "You are a SQL expert. Please help to generate a SQL query to answer the question. Your response should ONLY be based on the given context and follow the response guidelines and format instructions. \n===Tables \n\nCREATE TABLE IF NOT EXISTS DimCliente (\n    customer_id TEXT PRIMARY KEY,\n    customer_name TEXT,\n    customer_city TEXT\n);\n\n\n\nCREATE TABLE IF NOT EXISTS DimProducto (\n    product_id TEXT PRIMARY KEY,\n    product_name TEXT,\n    category TEXT,\n    unit_price REAL\n);\n\n\n\nCREATE TABLE IF NOT EXISTS FactVentas (\n    sale_id INTEGER PRIMARY KEY,\n    date_key TEXT,\n    customer_id TEXT,\n    product_id TEXT,\n    rep_id TEXT,\n    quantity INTEGER,\n    FOREIGN KEY (date_key) REFERENCES DimFecha(date_key),\n    FOREIGN KEY (customer_id) REFERENCES DimCliente(customer_id),\n    FOREIGN KEY (product_id) REFERENCES DimProducto(product_id),\n    FOREIGN KEY (rep_id) REFERENCES DimRepresentante(rep_id)\n);\n\n\n\nCREATE TABLE IF NOT EXISTS DimRepresentante (\n    rep_id TEXT PRIMARY KEY,\n    rep_name TEXT,\n    region TEXT\n);\n\n\n\nCREATE TABLE IF NOT EXISTS DimFecha (\n    date_key TEXT PRIMARY KEY,\n    year INTEGER,\n    quarter INTEGER,\n    month INTEGER,\n    day INTEGER,\n    weekday TEXT\n);\n\n\n===Response Guidelines \n1. If the provided context is sufficient, please generate a valid SQL query without any explanations for the question. \n2. If the provided context is almost sufficient but requires knowledge of a specific string in a particular column, please generate an intermediate SQL query to find the distinct strings in that column. Prepend the query with a comment saying intermediate_sql \n3. If the provided context is insufficient, please explain why it can't be generated. \n4. Please use the most relevant table(s). \n5. If the question has been asked and answered before, please repeat the answer exactly as it was given before. \n6. Ensure that the output SQL is SQL-compliant and executable, and free of syntax errors. \n"}, {'role': 'user', 'content': 'Listar las compras y las caracteristicas de los clientes que pertenece a la ciudad de Medellín.'}]
LLM Response: ```sql
SELECT F.sale_id, F.date_key, C.customer_id, C.customer_name, C.customer_city, P.product_id, P.product_name, P.category, P.unit_price, F.quantity
FROM FactVentas F
JOIN DimCliente C ON F.customer_id = C.customer_id
JOIN DimProducto P ON F.product_id = P.product_id
WHERE C.customer_city = 'Medellín';
```
Extracted SQL: SELECT F.sale_id, F.date_key, C.customer_id, C.customer_name, C.customer_city, P.product_id, P.product_name, P.category, P.unit_price, F.quantity
FROM FactVentas F
JOIN DimCliente C ON F.customer_id = C.customer_id
JOIN DimProducto P ON F.product_id = P.product_id
WHERE C.customer_city = 'Medellín';

,sale_id,date_key,customer_id,customer_name,customer_city,product_id,product_name,category,unit_price,quantity
0,1002,2025-07-02,C002,Andrés Rodríguez,Medellín,P101,Mouse Óptico,Periféricos,45.5,1
1,1010,2025-07-09,C009,Javier Ruiz,Medellín,P500,Disco Duro 2TB,Almacenamiento,110.0,2
2,1012,2025-07-11,C002,Andrés Rodríguez,Medellín,P100,Teclado Mecánico,Periféricos,120.0,3
3,1019,2025-07-18,C009,Javier Ruiz,Medellín,P101,Mouse Óptico,Periféricos,45.5,2

In [56]:
query3 = vn.generate_sql(
    "Listar las compras y las caracteristicas de los productos que pertenecen a la categoria Periféricos."
)
pd.read_sql_query(query3, conn)

SQL Prompt: [{'role': 'system', 'content': "You are a SQL expert. Please help to generate a SQL query to answer the question. Your response should ONLY be based on the given context and follow the response guidelines and format instructions. \n===Tables \n\nCREATE TABLE IF NOT EXISTS DimProducto (\n    product_id TEXT PRIMARY KEY,\n    product_name TEXT,\n    category TEXT,\n    unit_price REAL\n);\n\n\n\nCREATE TABLE IF NOT EXISTS FactVentas (\n    sale_id INTEGER PRIMARY KEY,\n    date_key TEXT,\n    customer_id TEXT,\n    product_id TEXT,\n    rep_id TEXT,\n    quantity INTEGER,\n    FOREIGN KEY (date_key) REFERENCES DimFecha(date_key),\n    FOREIGN KEY (customer_id) REFERENCES DimCliente(customer_id),\n    FOREIGN KEY (product_id) REFERENCES DimProducto(product_id),\n    FOREIGN KEY (rep_id) REFERENCES DimRepresentante(rep_id)\n);\n\n\n\nCREATE TABLE IF NOT EXISTS DimCliente (\n    customer_id TEXT PRIMARY KEY,\n    customer_name TEXT,\n    customer_city TEXT\n);\n\n\n\nCREATE TABLE IF NOT EXISTS DimRepresentante (\n    rep_id TEXT PRIMARY KEY,\n    rep_name TEXT,\n    region TEXT\n);\n\n\n\nCREATE TABLE IF NOT EXISTS DimFecha (\n    date_key TEXT PRIMARY KEY,\n    year INTEGER,\n    quarter INTEGER,\n    month INTEGER,\n    day INTEGER,\n    weekday TEXT\n);\n\n\n\n===Additional Context \n\n\nAl procesar los datos y realizar búsquedas, todas las palabras que contienen tildes deben ser equivalentes\na su versión sin tilde. Por ejemplo, 'canción' debe tratarse igual que 'cancion', 'árbol' igual que 'arbol', etc.\nSe recomienda normalizar los textos eliminando las tildes para mejorar la precisión y evitar errores por acentos.\n\n\nque todas las palabras con tilde sean reemplazadas por su version sin tilde\n\n===Response Guidelines \n1. If the provided context is sufficient, please generate a valid SQL query without any explanations for the question. \n2. If the provided context is almost sufficient but requires knowledge of a specific string in a particular column, please generate an intermediate SQL query to find the distinct strings in that column. Prepend the query with a comment saying intermediate_sql \n3. If the provided context is insufficient, please explain why it can't be generated. \n4. Please use the most relevant table(s). \n5. If the question has been asked and answered before, please repeat the answer exactly as it was given before. \n6. Ensure that the output SQL is SQL-compliant and executable, and free of syntax errors. \n"}, {'role': 'user', 'content': 'Listar las compras y las caracteristicas de los productos que pertenecen a la categoria Periféricos.'}]
LLM Response: ```sql
SELECT
    f.sale_id,
    f.date_key,
    c.customer_name,
    p.product_name,
    p.category,
    p.unit_price,
    f.quantity
FROM
    FactVentas f
JOIN
    DimProducto p ON f.product_id = p.product_id
JOIN
    DimCliente c ON f.customer_id = c.customer_id
WHERE
    LOWER(REPLACE(p.category, 'á', 'a')) = 'perifericos' OR
    LOWER(REPLACE(p.category, 'é', 'e')) = 'perifericos' OR
    LOWER(REPLACE(p.category, 'í', 'i')) = 'perifericos' OR
    LOWER(REPLACE(p.category, 'ó', 'o')) = 'perifericos' OR
    LOWER(REPLACE(p.category, 'ú', 'u')) = 'perifericos';
```
Extracted SQL: SELECT
    f.sale_id,
    f.date_key,
    c.customer_name,
    p.product_name,
    p.category,
    p.unit_price,
    f.quantity
FROM
    FactVentas f
JOIN
    DimProducto p ON f.product_id = p.product_id
JOIN
    DimCliente c ON f.customer_id = c.customer_id
WHERE
    LOWER(REPLACE(p.category, 'á', 'a')) = 'perifericos' OR
    LOWER(REPLACE(p.category, 'é', 'e')) = 'perifericos' OR
    LOWER(REPLACE(p.category, 'í', 'i')) = 'perifericos' OR
    LOWER(REPLACE(p.category, 'ó', 'o')) = 'perifericos' OR
    LOWER(REPLACE(p.category, 'ú', 'u')) = 'perifericos';

,sale_id,date_key,customer_name,product_name,category,unit_price,quantity
0,1001,2025-07-01,María Gómez,Teclado Mecánico,Periféricos,120.0,2
1,1002,2025-07-02,Andrés Rodríguez,Mouse Óptico,Periféricos,45.5,1
2,1005,2025-07-04,Ana Beltrán,Teclado Mecánico,Periféricos,120.0,1
3,1007,2025-07-06,Carla Mendoza,Mouse Óptico,Periféricos,45.5,4
4,1009,2025-07-08,Sofía García,Webcam HD,Periféricos,70.0,1
5,1012,2025-07-11,Andrés Rodríguez,Teclado Mecánico,Periféricos,120.0,3
6,1013,2025-07-12,Luis Martínez,Mouse Óptico,Periféricos,45.5,5
7,1015,2025-07-14,Pedro Castillo,Webcam HD,Periféricos,70.0,2
8,1018,2025-07-17,Sofía García,Teclado Mecánico,Periféricos,120.0,1
9,1019,2025-07-18,Javier Ruiz,Mouse Óptico,Periféricos,45.5,2